<div class="text_layout">

    <h1>Pipe Personalizados</h1>

    <p>Como hacer nuestro propio Pipe</p>

    <p> Palabra: {{"nosostros"}} </p> 
    <p> Con pipe personalizado: {{"nosostros"|mayusculas}} </p> 
    <p> Con pipe personalizado Off: {{"nosostros"|mayusculas:false}} </p>
    <p>---------</p>
    <p> Palabra: {{"nosostros"|mayusculas:onOff}} </p> 
    <button pButton type="button" label="Cambiar" (click)="cambiarMayuscula()">
    </button> 
</div>
<hr>
<div class="grid">
    <div class="col">
        <p-toolbar>
            <div class="p-toolbar-group-left">
                <i class="pi pi-bars"></i>
            </div>
            <div class="p-toolbar-group-right">
                <button pButton 
                    label="toggle Mayusculas" 
                    class="mr-1 p-button-help" 
                    (click)="cambiar()">
                </button> 
                <button pButton 
                    icon="pi pi-sort"
                    label="Por nombre" 
                    class="mr-1 p-button-help"
                    (click)="Ordenar('nombre')">
                </button> 
                <button pButton 
                    icon="pi pi-sort"
                    label="Vuela ?" 
                    class="mr-1 p-button-help"
                    (click)="Ordenar('vuela')">
                </button> 
                <button pButton 
                    icon="pi pi-sort"
                    label="Por Color" 
                    class="mr-1 p-button-help"
                    (click)="Ordenar('color')">
                </button> 
            </div>
        </p-toolbar>
    </div>
</div>
<div class="grid">
    <div class="col mt-1">
        <p-table [value]="heroes | ordenar:tipoOrden">
            <ng-template pTemplate="header">
                <tr>
                    <th>Nombre</th>
                    <th>Vuela</th>
                    <th>Color</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-heroes>
                <tr>
                    <td>{{heroes.nombre}}</td>
                    <td>{{heroes.vuela | vuela | titlecase }}</td>
                    <td>{{heroes.color}}</td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>
<hr>
<br>
<h1>TABLA DE PRIMENG</h1>
<br>
<div class="grid">
    <div class="col mt-1">
        <p-table [value]="heroes | ordenar:tipoOrden">
            <ng-template pTemplate="header">
                <tr>
                    <th pSortableColumn="nombre">Nombre <p-sortIcon field="nombre"></p-sortIcon></th>
                    <th pSortableColumn="vuela">Vuela <p-sortIcon field="vuela"></p-sortIcon></th>
                    <th pSortableColumn="color">Color<p-sortIcon field="color"></p-sortIcon></th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-heroes>
                <tr>
                    <td>{{heroes.nombre}}</td>
                    <td>{{heroes.vuela | vuela | titlecase }}</td>
                    <td>{{heroes.color}}</td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>
